.container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	text-align: center;
	margin: 20px auto;
    background-color: #0d90c3;
    color: white;
    
    border-radius: 5px;
  }
  
header p {
    font-size: 34px;
} 

      
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

a {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 35px;
    padding: 5px;
    
}

a:link, a:visited {
        width: 20px;
        text-decoration: none;
        color: white;
    }
a:hover {
    text-align: center;
      border-radius: 5px;
      text-decoration: none;
      color: #0d90c3;
      background-color: white;
      
    }

a:hover b {
    display: none;
}

* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
    display: none;
}

*:hover > .fa.fa-hover-show {
    display: inline-block;
    
}



nav  {
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: bold; 
}
a {
    margin: 5px;
    width: 100px;
 }
 a:link, a:visited {
      width: 100px;
      text-decoration: none;
      color: white;
  }
 a:hover {
    
    border-radius: 5px;
    text-decoration: none;
    color: #0d90c3;
    background-color: white;
  }

main {
    border: 10px double #0d90c3; 
    background-color: white;
    color: #0d90c3;
    text-align: justify;
   
    
}
main p {
    margin: 25px;
    text-align: justify;
}


section {
    display: flex;
    flex-wrap: wrap;
}



footer {
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    nav {
      flex-wrap: wrap;
    }
    main p {
        text-indent: 15px;
    }
    input {
        width: 100%;
    }
}